/* On defini les variables de couleurs css qui vont constituer 
la palette de couleur de notre site (rien n'est encore defini 
des couleur pourront facilement etre modifié, ajouté , suprimmé) */
:root {
    --dark-bg: #425161;
    --card-bg: #2D3943;
    --text-color: #E0E0E0;
    --accent-green: #4CAF50;
    --accent-blue: #2196F3;
    --accent-orange: #FF9800;
    --accent-red: #F44336;
    --moderate-yellow: #FFC107;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--dark-bg);
    color: var(--text-color);
    line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
